{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">My Borrow History</h1>
    <table class="table border rounded">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Status</th>
            <th>Requested Time</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for record in history %}
        <tr>
            <td>{{ record.book.title }}</td>
            <td>{{ record.status }}</td>
            <td>{{ record.requested_time|date:"M d, Y / h:i A" }}</td>
            <td>{{ record.start_date|date:"M d, Y / h:i A" }}</td>
            <td>{{ record.end_date|date:"M d, Y / h:i A" }}</td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No history available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
                <td><a href="{% url 'download_borrow_history' %}" class="btn btn-secondary btn-block">Download CSV</a></td>

</div>
{% endblock %}
