{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Approved Books</h1>
    <div class="row">
        {% for book in approved_books %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
                </div>
                <div class="card-footer text-center">
                    <!-- Read Button -->
                    <a href="{% url 'read_book' book.id %}" class="btn btn-success btn-sm">Read</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-center">You have no approved books to display.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
